# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.*

# Backend confidential files
backend/src/config/
backend/.env

# Logs
*.log

# Editor files
.vscode/
.idea/
.DS_Store